.btn {
  position: relative;
  display: inline-block;
  padding: 10px 12px;
  margin: 0;
  font-size: 1rem;
  border-radius: 4px;
  background-color: transparent;
  border: 0;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:disabled {
    opacity: 0.6;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.large {
  padding: 12px 20px;
  font-size: 1.1rem;
}

.primary {
  background-color: var(--accent-strong);
  color: var(--base-weak);

  &:hover:enabled {
    background-color: var(--accent-strong-up);
  }

  &:active:enabled {
    background-color: var(--accent-strong-down);
  }

  &:focus:enabled {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
}

.link {
  background-color: transparent;
  color: var(--accent-strong);
  padding: 4px;
  margin: 0 4px;

  &:hover:enabled {
    color: var(--accent-strong-up);
    text-decoration: underline;
  }

  &:active:enabled {
    color: var(--accent-strong-down);
  }

  &:focus:enabled {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
}
