.logoTop {
  position: absolute;
  left: 22px;
  top: 22px;
}

.tutorial {
  text-align: center;
}

.title {
  color: var(--base-strong);
}

.content {
  color: var(--faint-strong);

  b {
    color: var(--faint-strong);
  }
}
.playBtn {
  padding: 0;
  text-decoration: underline;
  font-weight: 700;
}
