.logoTop {
  position: absolute;
  left: 22px;
  top: 22px;
}

.tutorial {
  text-align: center;
}

.title {
  color: var(--font-weak);
}

.content {
  color: var(--font);

  button {
    font-weight: 700;
  }
}

.playBtn {
  padding: 0;
  text-decoration: underline;
  font-weight: 700;
}
