.content {
  color: var(--faint-strong);

  b {
    color: var(--base-weak);
  }
}

.bestScore {
  margin-top: 8px;
}

.medalIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: -3px;
  fill: var(--faint-strong);
}

.checkIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  fill: var(--faint-strong);
}
