.content {
  color: var(--base-strong-down);

  b {
    color: var(--base-strong-up);
  }
}
.currentTime,
.bestScore {
  display: flex;
  align-items: center;

  b {
    margin-left: 4px;
  }
}

.bestScore {
  margin-top: 8px;
}

.medalIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: -3px;
  margin-right: 4px;
  fill: var(--base-strong-down);
}

.checkIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: var(--base-strong-down);
}
