@import '../../assets/styles/colors.scss';

.logo {
  font-size: 24px;
}

.find {
  display: inline-block;
  margin-right: 0.3em;
  letter-spacing: -0.02em;
  color: $trolleyGray-500;
  text-shadow: 1px -1px 0px $trolleyGray-500;
}

.eight {
  display: inline-block;
  transform: rotate(45deg);
  border-radius: 8px;
  padding: 0.1em 0.35em 0;
  text-align: center;
  font-weight: 700;
  color: $trolleyGray-700;
  background-color: $mediumSeaGreen-A200;
  box-shadow: 4px 4px 6px -4px $trolleyGray-200;
}
