.logo {
  font-size: 24px;

  &:hover {
    .eight {
      transform: rotate(90deg);

      &::before {
        content: '';
        position: absolute;
        left: 14px;
        top: 18px;
        display: block;
        width: 2px;
        height: 2px;
        background-color: var(--base-strong);
        border-radius: 50%;
        animation: blink 2000ms ease-in;
      }

      &::after {
        content: '';
        position: absolute;
        left: 14px;
        top: 11px;
        display: block;
        width: 2px;
        height: 2px;
        background-color: var(--base-strong);
        border-radius: 50%;
        animation: blink 2000ms ease-in;
      }

      .mouth {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
        right: 0;
        height: 11px;
        width: 14px;
        margin: 0 auto;
        border-bottom: 2px solid var(--base-strong);
        border-radius: 100%;
        transform: rotate(-90deg);
        animation: mouthFadeIn 200ms ease-in;
      }
    }
  }
}

.find {
  display: inline-block;
  margin-right: 0.3em;
  letter-spacing: -0.02em;
  color: var(--base-strong);
}

.eight {
  position: relative;
  display: inline-block;
  transform: rotate(45deg);
  border-radius: 8px;
  padding: 0.1em 0.35em 0.1em;
  text-align: center;
  font-weight: 700;
  color: var(--base-strong);
  background-color: var(--success-weak);
  transition: transform 200ms ease-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouthFadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
