.logo {
  font-size: 33px;

  &:hover {
    .eight {
      transform: rotate(90deg);

      &::before {
        content: '';
        position: absolute;
        left: 18px;
        top: 14px;
        display: block;
        width: 3px;
        height: 3px;
        background-color: var(--base-strong-down);
        border-radius: 50%;
        animation: blink 2000ms ease-in;
      }

      &::after {
        content: '';
        position: absolute;
        left: 18px;
        top: 24px;
        display: block;
        width: 3px;
        height: 3px;
        background-color: var(--base-strong-down);
        border-radius: 50%;
        animation: blink 2000ms ease-in;
      }

      .mouth {
        position: absolute;
        z-index: 1;
        top: 38%;
        left: 38%;
        right: 0;
        height: 11px;
        width: 22px;
        margin: 0 auto;
        border-bottom: 2px solid var(--base-strong-down);
        border-radius: 100%;
        transform: rotate(-90deg);
        animation: mouthFadeIn__1gp1m 200ms ease-in;
      }
    }
  }
}

.find {
  display: inline-block;
  margin-right: 0.3em;
  letter-spacing: -0.02em;
  color: var(--font-accent);
}

.eight {
  position: relative;
  display: inline-block;
  transform: rotate(45deg);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  padding: 0.15em 0 0.1em;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  vertical-align: middle;
  color: var(--base-strong-down);
  background-color: var(--success-weak);
  transition: transform 200ms ease-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mouthFadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
