.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  padding: 0 20px;
  border-bottom: 1px solid var(--border);
}

.backBtn {
  margin-right: 8px;
  min-width: 80px;
}
