@import '../../assets/styles/colors.scss';

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  animation: fadeIn 200ms ease-in;
}

.fadeIn {
  animation: fadeIn 200ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
