.settings {
  width: 100%;
  padding: 12px 24px;
  color: var(--font);
}

.container {
  max-width: 440px;
  margin: 24px auto;
  padding: 20px 12px;
  border-radius: 4px;
}

.avatar {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto 50px;
  border-radius: 50%;
  border: 1px solid var(--border);
  background-color: red;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 12px 0;
}

.cell {
  width: 50%;
}

.title {
  margin: 0;
  margin-right: 12px;
}
