.settings {
  width: 100%;
  padding: 12px 24px;
  color: var(--font);
}

.container {
  max-width: 330px;
  margin: 24px auto;
  padding: 20px 12px;
  border-radius: 4px;
}

.avatar {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto 50px;
  border-radius: 50%;
  border: 1px solid var(--border);
}

.title {
  margin: 0;
  margin-right: 12px;
  text-align: left;
}
