.actionPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25%;
  min-width: 200px;
  padding: 20px 24px;
  border-left: 1px solid var(--border);

  [class^='custom-control'] {
    margin-bottom: 2px;

    label {
      width: 100%;
    }
  }
}

.playBtn {
  border-bottom: 1px solid var(--border);
  padding-bottom: 20px;

  button {
    width: 100%;
  }
}

.title {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-top: 8px;
}
