.actionPanel {
  width: 25%;
  min-width: 200px;
  padding: 20px 24px;
  border-left: 1px solid var(--base-strong-down);

  [class^='custom-control'] {
    margin-bottom: 2px;

    label {
      width: 100%;
    }
  }
}

.mainBtn {
  border-bottom: 1px solid var(--base-strong-down);
  padding-bottom: 20px;
}

.btn {
  width: 100%;
}

.playBtn {
  margin-bottom: 12px;
}

.title {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-top: 8px;
  color: var(--font-weak);
}
