@import '../../assets/styles/index.scss';

.container {
  display: flex;
  width: 100%;
  max-width: 960px;
  height: calc(100vh - 24px);
  margin: 12px auto;
  border-radius: 4px;
  border: 1px solid var(--faint-weak);
}
