@import '../../assets/styles/colors.scss';

.container {
  display: flex;
  width: 100%;
  max-width: 960px;
  height: calc(100vh - 24px);
  margin: 12px auto;
  border-radius: 4px;
  border: 1px solid $commonGray-A200;
}

.toastsWrapper {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 100;
  background: #fff;
  min-width: 300px;

  :global {
    .toast-header {
      font-size: 16px;
      color: $trolleyGray-800;
    }

    .toast-body {
      font-size: 16px;
      color: $trolleyGray-600;
    }
  }
}
