@import '../../assets/styles/index.scss';

:global {
  #body {
    background-color: var(--base-strong);
    background-image: url('../../assets/images/black-felt.png');
  }
}

.game {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 960px;
  height: calc(100vh - 48px);
  margin: 24px auto;
  border-radius: 4px;
  border: 1px solid var(--base-strong-down);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.03);
}

.logoPosition {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1;
}
