.logoTop {
  position: absolute;
  left: 22px;
  top: 22px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--base-strong-up);
}

.content {
  color: var(--base-strong-down);

  b {
    color: var(--base-strong-up);
  }
}
