@import '../../assets/styles/colors.scss';

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  animation: fadeIn 200ms ease-in;
}

.row {
  display: flex;

  &:first-child {
    border-top: 1px solid $commonGray-A200;
  }

  .cell {
    &:first-child {
      border-left: 1px solid $commonGray-A200;
    }
  }
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-right: 1px solid $commonGray-A200;
  border-bottom: 1px solid $commonGray-A200;
  text-align: center;

  &::before {
    content: attr(data-content);
  }
}

.highlighted {
  background-color: red;
}

.fadeIn {
  animation: fadeIn 200ms ease-in;
}

.fadeIn2 {
  animation: fadeIn2 200ms ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
