.field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  text-align: center;

  &::before {
    content: attr(data-content);
  }
}
