:root {
  /* Родительские цвета */
  --base-strong: #565656;
  --base-strong-up: #414141;
  --base-strong-down: #6b6b6b;
  --base-weak: #f9f9f9;

  --faint-strong: #738592;
  --faint-weak-up: #d5dade;
  --faint-weak: #e3e6e9;

  --accent-strong: #0777cf;
  --accent-strong-up: #076dbd;
  --accent-strong-down: #1d83d3;
  --accent-weak: #ebf4ff;

  --complement-strong: #8889e2;
  --complement-weak: #eeecfd;

  --danger-strong: #f74545;
  --danger-weak: #fdeded;

  --warning-strong: #e4bf34;
  --warning-weak: #fef6db;

  --success-strong: #36a269;
  --success-weak: #e1f3ea;
}
