:root {
  /* Родительские цвета */
  --base-strong: #414141;
  --base-weak: #f9f9f9;

  --faint-strong: #6b6b6b;
  --faint-weak: #e3e6e9;

  --accent-strong: #0070ff;
  --accent-weak: #ebf4ff;

  --complement-strong: #8889e2;
  --complement-weak: #eeecfd;

  --danger-strong: #f74545;
  --danger-weak: #fdeded;

  --warning-strong: #e4bf34;
  --warning-weak: #fef6db;

  --success-strong: #36a269;
  --success-weak: #e1f3ea;

  /* Cдвиги родительских цветов */
  --faint-strong-down: #a5adbb;
  --faint-weak-up: #eceef5;
}

:global {
  .text-primary {
    --faint-strong: #414141;
  }

  .text-secondary {
    --faint-strong: #6b6b6b;
  }
}
